@charset "utf-8";

a {
    text-decoration: none;
    padding: 5px 10px;
}

/*Links não visitados*/
a:link {
    color: #b9c941;
}

/*Links já visitados*/
a:visited {
    color: #c0c0c0;
}

/*Quando passa o cursor*/
a:hover {
    color: #6d790f;
}

/*links ativos (Quando clicados)*/
a:active {
    color: #e4f371;
}