@charset "utf-8";

body {
    background: #007fc7;
}
    #container {
        background: #fff;
        width: 800px;

        margin: 10px auto; /*para centralizar o container*/
        padding: 10px;
    }
    .titulo {
        position: static;
    }
    p {
        width: 300px;
        text-align: justify;
    }
    .fixed {
        background: #f2f2f2;
        position: fixed;
        /*
            top. right, bottom e left

            O posicionamento fixed fica fixo em relação a janela do navegador
        */
        right: 10px;
        bottom: 10px;

    }