@charset "utf-8";
/* Com Box Sizing */
#caixa {
    background: #111;
    color: #777;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    height: 300px;
    width: 300px;

    padding: 20px;

    text-align: justify;
}
/* Sem Box Sizing */
#caixa2 {
    background: #777;
    color: #111;

    height: 300px;
    width: 300px;

    padding: 20px;

    text-align: justify;
}