@charset "utf-8";

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
    fieldset {
        background: #f8f8f8;
        border: 1px solid #ccc;
        
        margin: 1em 0;
        padding: 1em;
    }
        legend {
            font-weight: bold;
        }
            label {
                display: block;

                cursor: pointer;
            }
            /* #detalhes input, */
            input[type = "text"],
            input[type = "email"],
            input[type = "url"],
            textarea {
                width: 20em;
            }
            textarea {
                height: 10em;
            }