@charset "utf-8";

header {
    border: 1px solid #111;
    background: #777;

    box-sizing: border-box;

    height: 200px;

    padding: 10px;
}
    header nav {
        border: 1px solid #111;
    }
        nav li {
            display: inline;
            
            padding: 70px;
        }

main {
    border: 1px solid red;

    padding: 10px;
}        
footer {
    border: 1px solid yellow;

    background: #111;
    color: #777;

    padding: 10px;
}